# Python
__pycache__/
*.py[cod]
*$py.class

# Odoo
*.log
*.pot
sessions/
filestore/
odoo-server.conf

# IDEs and editors
.idea/
.vscode/
*.swp

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtualenv
env/
venv/
